
Code/files/2023-7-12-11-33-25.csv
Code/files/2023-7-12-11-33-38.csv
Code/files/2023-7-12-11-33-40.csv
Code/lemmingometre/pandas_data_reading_test.py
Circuit/PCB/\#auto_saved_files\#
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
Circuit/.DS_Store
